
/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
    color: #333;
}
h1 {
    text-align: center;
    color: #007acc;
}

/* Contenedor del formulario */
#reservationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Tarjeta para cada pasajero */
.passenger-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

h3 {
    color: #007acc;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-color: #007acc;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 122, 204, 0.3);
}

/* Botón de envío */
.submit-btn {
    display: block;
    background-color: #007acc;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #005f99;
}
.read {
    background: linear-gradient(90deg, #3730a3, #7e22ce); /* Gradiente de fondo */
    padding: 12px; /* Espaciado interno */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 8px; /* Bordes redondeados */
  }