
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.payment-method {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.payment-method:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.payment-form {
    display: none; /* Ocultar el formulario de pago inicialmente */
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-details {
    margin-bottom: 15px;
}
.form-details label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-details input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.submit-btn {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #218838;
}
/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1; /* Asegúrate de que esté encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo negro */
    background-color: rgba(0,0,0,0.4); /* Con opacidad */
    padding-top: 60px; /* Espacio en la parte superior */
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Podría ser más o menos según el diseño */
    border-radius: 10px;
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.read {
    background: linear-gradient(90deg, #3264ee, #22b4ce);
    padding: 6px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}