/* Estilos del encabezado */
.men {
  position: fixed; /* Fija el encabezado en la parte superior de la página */
  top: 0; /* Posiciona el encabezado en la parte superior */
  width: 100%; /* Ancho del encabezado al 100% */
  background-color: transparent; /* Fondo transparente para el encabezado */
  padding: 1px 0; /* Espaciado superior e inferior para el encabezado */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra sutil para el encabezado */
  z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
  display: flex; /* Utiliza Flexbox para alinear el contenido dentro del encabezado */
  justify-content: center; /* Centra horizontalmente el contenido del encabezado */
  align-items: center; /* Centra verticalmente el contenido del encabezado */
  color: white; /* Color del texto en el encabezado */
}

/* Navegación */
.navigation {
  display: flex; /* Utiliza Flexbox para alinear los elementos del menú */
  justify-content: center; /* Centra horizontalmente los elementos del menú */
  align-items: center; /* Centra verticalmente los elementos del menú */
  margin-top: 1px; /* Margen superior para el menú */
}

/* Lista de navegación */
.navigation ul {
  list-style: none; /* Elimina los estilos de lista de los elementos */
  display: flex; /* Utiliza Flexbox para alinear los elementos de la lista en una fila */
  gap: 30px; /* Espacio entre los elementos de la lista */
  margin: 0; /* Elimina márgenes de la lista */
  padding: 0; /* Elimina padding de la lista */
  align-items: center; /* Asegura que todos los elementos del menú estén alineados verticalmente */
}

/* Logo y otros contenidos */
.header-content,
.logo {
  display: flex; /* Utiliza Flexbox para alinear el contenido del encabezado */
  align-items: center; /* Alinea verticalmente los logos y otros elementos */
}

.logo img {
  display: block; /* Asegura que las imágenes no tengan espacio en línea sobrante */
  margin-right: 1px; /* Espacio entre logos y otros elementos si es necesario */
  height: -1px;
}

/* Estilo para quitar las líneas de los enlaces en el menú */
.navigation ul li a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: inherit; /* Mantiene el color del texto del enlace */
}

.navigation ul li a:hover {
  text-decoration: none; /* Asegura que al pasar el mouse no se muestre el subrayado */
}
